*{
    background-color:#0c192c;


}
.calculator{
    padding: 50px;
    display: inline-block;
    border:  1px solid green;
    background-image: linear-gradient(to bottom right #FFDB01,#0E197D);
    box-shadow: 10px 10px 10px 10px black;
    margin-top: 8vh;
    margin-left: 70vh;
    border-radius: 40px;

}

.field{
    color: black;
    background-color: white;
    height: 50px;
    width: 30vh;
    border-radius: 20px;
    font-size: 1.6rem;
    
}
button{

    background-image: linear-gradient(to bottom right, #305170, #6DFC6B);
    display: inline-block;
    padding:26px;
    border-radius:50px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 30px;


}
.button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 2px solid white;
    border-right: 2px solid white;
    animation: border-top-right 3s infinite alternate;
}
.button::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    animation: border-bottom-left 3s infinite alternate;
}


@keyframes border-top-right{
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        width: 200px;
        height: 0px;
    }
    100%{
        width:100px;
        height:48px;
    }
}
@keyframes border-bottom-left{
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        width: 200px;
        height: 0px;
    }
    100%{
        width:100px;
        height:48px;
    }
}
.res{
    background-color: bisque;
    margin-top: 3vh;
    margin-left: 10vh;

}
.result{
    color: black;
    background-color: white;
    height: 50px;
    width: 30vh;
    border-radius: 20px;
    border: 1px black solid;
    text-align: center;
    text-size-adjust: 30px;

}
.minus{
    padding: 29px;
}
.star{
    padding: 27px;
}
.slash{
    padding: 29px;
}

